$primary: #43a047;
$theme-colors: (
  "primary": $primary,
  "danger": #B22222,
  "noteSelected": lighten($primary, 50%),
  "help": #ddd
);
$accent-color: #4169E1;
$body-bg: #fefefe;
$body-color: #555;
$header-color: #eee;
$header-background: $primary;

$selected-color:$primary;
$link-color: $accent-color;

@import 'node_modules/highlight.js/styles/idea';
@import '../App.scss';
