$primary: #343a40;
$theme-colors: (
  "primary": $primary,
  "noteSelected": lighten($primary, 5%),
  "help": #ddd
);
$accent-color: #4169E1;
$body-bg: lighten($primary, 10%);
$body-color: #ddd;
$header-color: $primary;
$header-background: $primary;
$link-color: $accent-color;

$breadcrumb-bg: darken($primary, 10%);
$dropdown-bg: lighten(#bbb, 10%);
$input-bg: $dropdown-bg;

$selected-color: #fff;
$code-color: $accent-color;

@import 'node_modules/highlight.js/styles/dracula';
@import '../App.scss';
