@import '../styles/_colors.scss';
#title[disabled] {
  background: #fff;
}

form {
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 10px;
  margin-bottom: 2px;
}

.ttip{
  background-color: lighten(map-get($theme-colors, primary), 20%);
  color: white;
  border-radius: 5px;
  padding: 5px;
  right: auto;
  z-index: 1;
  position: absolute;
}

.fixed-header {
  position: fixed;
  top: 0;
}
