@import 'node_modules/bootstrap/scss/bootstrap.scss';
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
html, body, .full-height {
  height: 100%;
}

.scrollable {
  overflow: scroll;
}

.nav-theme {
  background-color: $header-background;
  color: $header-color;
}

.btn-default:hover {
  background-color: #526e21;
  color: #fff;
}

.no-border {
  border: none;
}

.no-border:focus {
  outline: none;
}

.border-right {
  border-right: solid 1px #ddd;
}

.Resizer {
  background: #000;
  opacity: .2;
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}

.Resizer:hover {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.Resizer.horizontal {
  height: 11px;
  margin: -5px 0;
  border-top: 5px solid rgba(255, 255, 255, 0);
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  cursor: row-resize;
  width: 100%;
}

.Resizer.horizontal:hover {
  border-top: 5px solid rgba(0, 0, 0, 0.5);
  border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.vertical {
  width: 11px;
  margin: 0 -5px;
  border-left: 5px solid rgba(255, 255, 255, 0);
  border-right: 5px solid rgba(255, 255, 255, 0);
  cursor: col-resize;
}

.Resizer.vertical:hover {
  border-left: 5px solid rgba(0, 0, 0, 0.5);
  border-right: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.disabled {
  cursor: not-allowed;
}

.Resizer.disabled:hover {
  border-color: transparent;
}

.form-control:focus{
  box-shadow: none;
}

.grey-bg {
  background: #fafafa;
}

.bg-primary-50 {
  background: lighten(map-get($theme-colors, primary), 50%);
}

.border.border-primary-50{
  border-color: lighten(map-get($theme-colors, primary), 50%) !important;
}

pre {
  padding: 10px;
  margin-right: 10px;
  border: solid 1px map-get($theme-colors, primary);
  border-radius: 5px;
}

.help pre {
  border-color: map-get($theme-colors, help);
}

.far,.fas {
  color: lighten(map-get($theme-colors, primary), 30%);
}

nav .far,nav .fas {
  color: #eee;
}

.help .far,.help .fas {
  color: #eee;
}

.selected,.far.selected,.fas.selected {
  color: $selected-color;
}

.far.active,.fas.active {
  color: #000;
}

.far:hover,.fas:hover {
  color: $accent-color;
}

.far.fa-trash:hover, .far.fa-times:hover,
.fas.fa-trash:hover, .fas.fa-times:hover{
  color: map-get($theme-colors, danger);
}

.tooltip-inner {
  background-color: lighten(map-get($theme-colors, primary), 20%);
  color: white;
  border-radius: 5px;
  padding: 5px;
}

.bs-tooltip-top .arrow {
  border-top-color: lighten(map-get($theme-colors, primary), 20%);
}

.bs-tooltip-right .arrow {
  border-right-color: lighten(map-get($theme-colors, primary), 20%);
}

.bs-tooltip-bottom .arrow::before {
  border-bottom-color: lighten(map-get($theme-colors, primary), 20%);
}

.bs-tooltip-left .arrow {
  border-left-color: lighten(map-get($theme-colors, primary), 20%);
}

.list-group .list-group-item.selected {
  background-color: lighten(map-get($theme-colors, primary), 50%);
}
.tool {
  cursor: pointer;
}

.tool:hover{
  background-color: lighten(map-get($theme-colors, primary), 50%);
}

// break long words in note
.preview {
  //word-break: break-all;
  word-wrap: break-word;

  .dropdown-item:hover {
    background-color: lighten(map-get($theme-colors, primary), 50%);
    cursor: pointer;
  }

  .btn.dropdown-toggle {
    box-shadow: none;
  }

  ul.disc{
    list-style-type: disc;
  }

  code {
      font-size: 87.5%;
  }
}
